USE [master]
GO
/****** Object:  Database [quan_ly_cam_do]    Script Date: 12/05/2026 2:55:32 AM ******/
CREATE DATABASE [quan_ly_cam_do]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quan_ly_cam_do', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\quan_ly_cam_do.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'quan_ly_cam_do_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\quan_ly_cam_do_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quan_ly_cam_do].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quan_ly_cam_do]
GO
/****** Object:  UserDefinedTableType [dbo].[danh_sach_tai_san]    Script Date: 12/05/2026 2:55:33 AM ******/
CREATE TYPE [dbo].[danh_sach_tai_san] AS TABLE(
	[ten_tai_san] [nvarchar](100) NULL,
	[loai_tai_san] [nvarchar](50) NULL,
	[gia_tri_dinh_gia] [decimal](18, 2) NULL,
	[mo_ta] [nvarchar](255) NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 12/05/2026 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_CalcMoneyContract]
(
    @ContractID INT,
    @TargetDate DATE
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @so_tien_goc DECIMAL(18,2);
    DECLARE @ngay_lap DATE;
    DECLARE @deadline1 DATE;
    DECLARE @lai_suat_ngay DECIMAL(18,6) = 0.005;
    DECLARE @so_ngay_lai_don INT = 0;
    DECLARE @so_ngay_lai_kep INT = 0;
    DECLARE @tien_lai_don DECIMAL(18,2) = 0;
    DECLARE @tong_da_tra DECIMAL(18,2) = 0;
    DECLARE @tong_tien DECIMAL(18,2) = 0;

    -- Lấy thông tin hợp đồng
    SELECT
        @so_tien_goc = so_tien_goc,
        @ngay_lap = ngay_lap,
        @deadline1 = deadline1
    FROM hop_dong
    WHERE id = @ContractID;

    -- Nếu hợp đồng không tồn tại
    IF @so_tien_goc IS NULL
        RETURN 0;

    -- Tính tổng số tiền khách đã trả
    SELECT @tong_da_tra = ISNULL(SUM(so_tien_tra), 0)
    FROM lich_su_thanh_toan
    WHERE hop_dong_id = @ContractID
      AND CAST(ngay_thanh_toan AS DATE) <= @TargetDate;

    -- Nếu ngày cần tính trước ngày lập
    IF @TargetDate < @ngay_lap
        RETURN 0;

    -- Trường hợp chỉ tính lãi đơn
    IF @TargetDate <= @deadline1
    BEGIN
        SET @so_ngay_lai_don = DATEDIFF(DAY, @ngay_lap, @TargetDate);
        SET @tien_lai_don = @so_tien_goc * @lai_suat_ngay * @so_ngay_lai_don;
        SET @tong_tien = @so_tien_goc + @tien_lai_don - @tong_da_tra;

        IF @tong_tien < 0
            SET @tong_tien = 0;

        RETURN @tong_tien;
    END

    -- Trường hợp có lãi kép
    SET @so_ngay_lai_don = DATEDIFF(DAY, @ngay_lap, @deadline1);
    SET @tien_lai_don = @so_tien_goc * @lai_suat_ngay * @so_ngay_lai_don;
    SET @so_ngay_lai_kep = DATEDIFF(DAY, @deadline1, @TargetDate);

    SET @tong_tien = (@so_tien_goc + @tien_lai_don) * POWER(1 + @lai_suat_ngay, @so_ngay_lai_kep) - @tong_da_tra;

    IF @tong_tien < 0
        SET @tong_tien = 0;

    RETURN @tong_tien;
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyTransaction]    Script Date: 12/05/2026 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_CalcMoneyTransaction]
(
    @TransactionID INT,
    @TargetDate DATE
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @hop_dong_id INT;
    DECLARE @gia_tri_cam_co DECIMAL(18,2);
    DECLARE @tong_gia_tri_cam_co DECIMAL(18,2);
    DECLARE @so_tien_goc_hop_dong DECIMAL(18,2);
    DECLARE @so_tien_goc_phan_bo DECIMAL(18,2);
    DECLARE @ngay_lap DATE;
    DECLARE @deadline1 DATE;
    DECLARE @lai_suat_ngay DECIMAL(18,6) = 0.005;
    DECLARE @so_ngay_lai_don INT = 0;
    DECLARE @so_ngay_lai_kep INT = 0;
    DECLARE @tien_lai_don DECIMAL(18,2) = 0;
    DECLARE @tong_tien DECIMAL(18,2) = 0;

    -- Lấy thông tin transaction và hợp đồng liên quan
    SELECT
        @hop_dong_id = ct.hop_dong_id,
        @gia_tri_cam_co = ct.gia_tri_cam_co,
        @so_tien_goc_hop_dong = hd.so_tien_goc,
        @ngay_lap = hd.ngay_lap,
        @deadline1 = hd.deadline1
    FROM chi_tiet_hop_dong ct
    INNER JOIN hop_dong hd ON ct.hop_dong_id = hd.id
    WHERE ct.id = @TransactionID;

    -- Nếu transaction không tồn tại
    IF @hop_dong_id IS NULL
        RETURN 0;

    -- Tính tổng giá trị cầm cố của cả hợp đồng
    SELECT @tong_gia_tri_cam_co = SUM(gia_tri_cam_co)
    FROM chi_tiet_hop_dong
    WHERE hop_dong_id = @hop_dong_id;

    IF @tong_gia_tri_cam_co IS NULL OR @tong_gia_tri_cam_co = 0
        RETURN 0;

    -- Phân bổ số tiền gốc của hợp đồng theo tỷ lệ giá trị cầm cố
    SET @so_tien_goc_phan_bo = @so_tien_goc_hop_dong * (@gia_tri_cam_co / @tong_gia_tri_cam_co);

    -- Nếu ngày cần tính trước ngày lập hợp đồng
    IF @TargetDate < @ngay_lap
        RETURN 0;

    -- Trường hợp chỉ có lãi đơn
    IF @TargetDate <= @deadline1
    BEGIN
        SET @so_ngay_lai_don = DATEDIFF(DAY, @ngay_lap, @TargetDate);
        SET @tien_lai_don = @so_tien_goc_phan_bo * @lai_suat_ngay * @so_ngay_lai_don;
        SET @tong_tien = @so_tien_goc_phan_bo + @tien_lai_don;
        RETURN @tong_tien;
    END

    -- Trường hợp có lãi kép
    SET @so_ngay_lai_don = DATEDIFF(DAY, @ngay_lap, @deadline1);
    SET @tien_lai_don = @so_tien_goc_phan_bo * @lai_suat_ngay * @so_ngay_lai_don;
    SET @so_ngay_lai_kep = DATEDIFF(DAY, @deadline1, @TargetDate);

    SET @tong_tien = (@so_tien_goc_phan_bo + @tien_lai_don) * POWER(1 + @lai_suat_ngay, @so_ngay_lai_kep);

    RETURN @tong_tien;
END;

GO
/****** Object:  Table [dbo].[chi_tiet_hop_dong]    Script Date: 12/05/2026 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_hop_dong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hop_dong_id] [int] NOT NULL,
	[tai_san_id] [int] NOT NULL,
	[gia_tri_cam_co] [decimal](18, 2) NOT NULL,
	[da_tra_tai_san] [bit] NOT NULL,
	[ngay_tra_tai_san] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hop_dong]    Script Date: 12/05/2026 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hop_dong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[khach_hang_id] [int] NOT NULL,
	[ngay_lap] [date] NOT NULL,
	[so_tien_goc] [decimal](18, 2) NOT NULL,
	[deadline1] [date] NOT NULL,
	[deadline2] [date] NOT NULL,
	[trang_thai] [nvarchar](50) NOT NULL,
	[ghi_chu] [nvarchar](255) NULL,
	[ngay_cap_nhat] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khach_hang]    Script Date: 12/05/2026 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khach_hang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ho_ten] [nvarchar](100) NOT NULL,
	[so_dien_thoai] [varchar](20) NOT NULL,
	[so_cccd] [varchar](20) NOT NULL,
	[dia_chi] [nvarchar](255) NULL,
	[ngay_tao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lich_su_thanh_toan]    Script Date: 12/05/2026 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lich_su_thanh_toan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hop_dong_id] [int] NOT NULL,
	[ngay_thanh_toan] [datetime] NOT NULL,
	[so_tien_tra] [decimal](18, 2) NOT NULL,
	[nhan_vien_id] [int] NOT NULL,
	[ghi_chu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhan_vien]    Script Date: 12/05/2026 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhan_vien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ho_ten] [nvarchar](100) NOT NULL,
	[so_dien_thoai] [varchar](20) NULL,
	[chuc_vu] [nvarchar](50) NULL,
	[ngay_tao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tai_san]    Script Date: 12/05/2026 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tai_san](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_tai_san] [nvarchar](100) NOT NULL,
	[loai_tai_san] [nvarchar](50) NOT NULL,
	[gia_tri_dinh_gia] [decimal](18, 2) NOT NULL,
	[mo_ta] [nvarchar](255) NULL,
	[trang_thai] [nvarchar](50) NOT NULL,
	[ngay_nhap] [datetime] NOT NULL,
	[is_sold] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[chi_tiet_hop_dong] ON 

INSERT [dbo].[chi_tiet_hop_dong] ([id], [hop_dong_id], [tai_san_id], [gia_tri_cam_co], [da_tra_tai_san], [ngay_tra_tai_san]) VALUES (1, 1, 1, CAST(5000000.00 AS Decimal(18, 2)), 0, NULL)
INSERT [dbo].[chi_tiet_hop_dong] ([id], [hop_dong_id], [tai_san_id], [gia_tri_cam_co], [da_tra_tai_san], [ngay_tra_tai_san]) VALUES (2, 2, 2, CAST(6500000.00 AS Decimal(18, 2)), 0, NULL)
INSERT [dbo].[chi_tiet_hop_dong] ([id], [hop_dong_id], [tai_san_id], [gia_tri_cam_co], [da_tra_tai_san], [ngay_tra_tai_san]) VALUES (3, 3, 3, CAST(3500000.00 AS Decimal(18, 2)), 0, NULL)
SET IDENTITY_INSERT [dbo].[chi_tiet_hop_dong] OFF
GO
SET IDENTITY_INSERT [dbo].[hop_dong] ON 

INSERT [dbo].[hop_dong] ([id], [khach_hang_id], [ngay_lap], [so_tien_goc], [deadline1], [deadline2], [trang_thai], [ghi_chu], [ngay_cap_nhat]) VALUES (1, 1, CAST(N'2026-05-01' AS Date), CAST(3000000.00 AS Decimal(18, 2)), CAST(N'2026-05-10' AS Date), CAST(N'2026-05-20' AS Date), N'DangTraGop', N'Cầm quạt cây', CAST(N'2026-05-12T02:44:10.330' AS DateTime))
INSERT [dbo].[hop_dong] ([id], [khach_hang_id], [ngay_lap], [so_tien_goc], [deadline1], [deadline2], [trang_thai], [ghi_chu], [ngay_cap_nhat]) VALUES (2, 2, CAST(N'2026-05-03' AS Date), CAST(4500000.00 AS Decimal(18, 2)), CAST(N'2026-05-12' AS Date), CAST(N'2026-05-22' AS Date), N'DangVay', N'Cầm quạt điều hòa', CAST(N'2026-05-12T02:25:54.030' AS DateTime))
INSERT [dbo].[hop_dong] ([id], [khach_hang_id], [ngay_lap], [so_tien_goc], [deadline1], [deadline2], [trang_thai], [ghi_chu], [ngay_cap_nhat]) VALUES (3, 3, CAST(N'2026-05-05' AS Date), CAST(2500000.00 AS Decimal(18, 2)), CAST(N'2026-05-14' AS Date), CAST(N'2026-05-24' AS Date), N'DangVay', N'Cầm quạt hộp', CAST(N'2026-05-12T02:25:54.030' AS DateTime))
SET IDENTITY_INSERT [dbo].[hop_dong] OFF
GO
SET IDENTITY_INSERT [dbo].[khach_hang] ON 

INSERT [dbo].[khach_hang] ([id], [ho_ten], [so_dien_thoai], [so_cccd], [dia_chi], [ngay_tao]) VALUES (1, N'Nguyễn Văn An', N'0901000001', N'001001000001', N'Hà Nội', CAST(N'2026-05-12T02:25:54.010' AS DateTime))
INSERT [dbo].[khach_hang] ([id], [ho_ten], [so_dien_thoai], [so_cccd], [dia_chi], [ngay_tao]) VALUES (2, N'Trần Thị Bình', N'0901000002', N'001001000002', N'Hải Phòng', CAST(N'2026-05-12T02:25:54.010' AS DateTime))
INSERT [dbo].[khach_hang] ([id], [ho_ten], [so_dien_thoai], [so_cccd], [dia_chi], [ngay_tao]) VALUES (3, N'Lê Văn Cường', N'0901000003', N'001001000003', N'Đà Nẵng', CAST(N'2026-05-12T02:25:54.010' AS DateTime))
SET IDENTITY_INSERT [dbo].[khach_hang] OFF
GO
SET IDENTITY_INSERT [dbo].[lich_su_thanh_toan] ON 

INSERT [dbo].[lich_su_thanh_toan] ([id], [hop_dong_id], [ngay_thanh_toan], [so_tien_tra], [nhan_vien_id], [ghi_chu]) VALUES (1, 1, CAST(N'2026-05-12T02:33:41.900' AS DateTime), CAST(700000.00 AS Decimal(18, 2)), 1, N'Khach tra them dot tiep theo')
INSERT [dbo].[lich_su_thanh_toan] ([id], [hop_dong_id], [ngay_thanh_toan], [so_tien_tra], [nhan_vien_id], [ghi_chu]) VALUES (2, 1, CAST(N'2026-05-12T02:44:10.327' AS DateTime), CAST(800000.00 AS Decimal(18, 2)), 1, N'Khach tra them de giam du no')
INSERT [dbo].[lich_su_thanh_toan] ([id], [hop_dong_id], [ngay_thanh_toan], [so_tien_tra], [nhan_vien_id], [ghi_chu]) VALUES (3, 1, CAST(N'2026-05-06T09:00:00.000' AS DateTime), CAST(500000.00 AS Decimal(18, 2)), 1, N'Khách trả đợt 1')
SET IDENTITY_INSERT [dbo].[lich_su_thanh_toan] OFF
GO
SET IDENTITY_INSERT [dbo].[nhan_vien] ON 

INSERT [dbo].[nhan_vien] ([id], [ho_ten], [so_dien_thoai], [chuc_vu], [ngay_tao]) VALUES (1, N'Phạm Thu Hà', N'0912000001', N'Thu ngân', CAST(N'2026-05-12T02:25:54.020' AS DateTime))
INSERT [dbo].[nhan_vien] ([id], [ho_ten], [so_dien_thoai], [chuc_vu], [ngay_tao]) VALUES (2, N'Hoàng Minh Đức', N'0912000002', N'Quản lý', CAST(N'2026-05-12T02:25:54.020' AS DateTime))
SET IDENTITY_INSERT [dbo].[nhan_vien] OFF
GO
SET IDENTITY_INSERT [dbo].[tai_san] ON 

INSERT [dbo].[tai_san] ([id], [ten_tai_san], [loai_tai_san], [gia_tri_dinh_gia], [mo_ta], [trang_thai], [ngay_nhap], [is_sold]) VALUES (1, N'Quạt cây Panasonic', N'Quạt cây', CAST(5000000.00 AS Decimal(18, 2)), N'Quạt 5 cánh, màu đen', N'DangCamCo', CAST(N'2026-05-12T02:25:54.033' AS DateTime), 0)
INSERT [dbo].[tai_san] ([id], [ten_tai_san], [loai_tai_san], [gia_tri_dinh_gia], [mo_ta], [trang_thai], [ngay_nhap], [is_sold]) VALUES (2, N'Quạt điều hòa Sunhouse', N'Quạt điều hòa', CAST(6500000.00 AS Decimal(18, 2)), N'Có bình nước 20 lít', N'DangCamCo', CAST(N'2026-05-12T02:25:54.033' AS DateTime), 0)
INSERT [dbo].[tai_san] ([id], [ten_tai_san], [loai_tai_san], [gia_tri_dinh_gia], [mo_ta], [trang_thai], [ngay_nhap], [is_sold]) VALUES (3, N'Quạt hộp Senko', N'Quạt hộp', CAST(3500000.00 AS Decimal(18, 2)), N'Quạt hộp mini', N'DangCamCo', CAST(N'2026-05-12T02:25:54.033' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[tai_san] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__khach_ha__2FF8349FEE71BD44]    Script Date: 12/05/2026 2:55:33 AM ******/
ALTER TABLE [dbo].[khach_hang] ADD UNIQUE NONCLUSTERED 
(
	[so_cccd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__khach_ha__BD03D94CC6CD9945]    Script Date: 12/05/2026 2:55:33 AM ******/
ALTER TABLE [dbo].[khach_hang] ADD UNIQUE NONCLUSTERED 
(
	[so_dien_thoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chi_tiet_hop_dong] ADD  DEFAULT ((0)) FOR [da_tra_tai_san]
GO
ALTER TABLE [dbo].[hop_dong] ADD  DEFAULT (getdate()) FOR [ngay_lap]
GO
ALTER TABLE [dbo].[hop_dong] ADD  DEFAULT (N'DangVay') FOR [trang_thai]
GO
ALTER TABLE [dbo].[hop_dong] ADD  DEFAULT (getdate()) FOR [ngay_cap_nhat]
GO
ALTER TABLE [dbo].[khach_hang] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[lich_su_thanh_toan] ADD  DEFAULT (getdate()) FOR [ngay_thanh_toan]
GO
ALTER TABLE [dbo].[nhan_vien] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[tai_san] ADD  DEFAULT (N'DangCamCo') FOR [trang_thai]
GO
ALTER TABLE [dbo].[tai_san] ADD  DEFAULT (getdate()) FOR [ngay_nhap]
GO
ALTER TABLE [dbo].[tai_san] ADD  DEFAULT ((0)) FOR [is_sold]
GO
ALTER TABLE [dbo].[chi_tiet_hop_dong]  WITH CHECK ADD  CONSTRAINT [fk_chi_tiet_hop_dong_hop_dong] FOREIGN KEY([hop_dong_id])
REFERENCES [dbo].[hop_dong] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chi_tiet_hop_dong] CHECK CONSTRAINT [fk_chi_tiet_hop_dong_hop_dong]
GO
ALTER TABLE [dbo].[chi_tiet_hop_dong]  WITH CHECK ADD  CONSTRAINT [fk_chi_tiet_hop_dong_tai_san] FOREIGN KEY([tai_san_id])
REFERENCES [dbo].[tai_san] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_hop_dong] CHECK CONSTRAINT [fk_chi_tiet_hop_dong_tai_san]
GO
ALTER TABLE [dbo].[hop_dong]  WITH CHECK ADD  CONSTRAINT [fk_hop_dong_khach_hang] FOREIGN KEY([khach_hang_id])
REFERENCES [dbo].[khach_hang] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[hop_dong] CHECK CONSTRAINT [fk_hop_dong_khach_hang]
GO
ALTER TABLE [dbo].[lich_su_thanh_toan]  WITH CHECK ADD  CONSTRAINT [fk_lich_su_thanh_toan_hop_dong] FOREIGN KEY([hop_dong_id])
REFERENCES [dbo].[hop_dong] ([id])
GO
ALTER TABLE [dbo].[lich_su_thanh_toan] CHECK CONSTRAINT [fk_lich_su_thanh_toan_hop_dong]
GO
ALTER TABLE [dbo].[lich_su_thanh_toan]  WITH CHECK ADD  CONSTRAINT [fk_lich_su_thanh_toan_nhan_vien] FOREIGN KEY([nhan_vien_id])
REFERENCES [dbo].[nhan_vien] ([id])
GO
ALTER TABLE [dbo].[lich_su_thanh_toan] CHECK CONSTRAINT [fk_lich_su_thanh_toan_nhan_vien]
GO
/****** Object:  StoredProcedure [dbo].[sp_dang_ky_hop_dong_moi]    Script Date: 12/05/2026 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_dang_ky_hop_dong_moi]
    @ho_ten NVARCHAR(100),
    @so_dien_thoai VARCHAR(20),
    @so_cccd VARCHAR(20),
    @dia_chi NVARCHAR(255),
    @so_tien_goc DECIMAL(18,2),
    @deadline1 DATE,
    @deadline2 DATE,
    @ghi_chu NVARCHAR(255),
    @ds_tai_san danh_sach_tai_san READONLY
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @khach_hang_id INT;
    DECLARE @hop_dong_id INT;

    -- Bảng tạm lưu tài sản vừa insert
    DECLARE @temp_tai_san TABLE
    (
        tai_san_id INT,
        gia_tri_cam_co DECIMAL(18,2)
    );

    ---------------------------------------------------------
    -- 1. Tìm khách hàng theo CCCD
    ---------------------------------------------------------
    SELECT @khach_hang_id = id
    FROM khach_hang
    WHERE so_cccd = @so_cccd;

    ---------------------------------------------------------
    -- 2. Nếu chưa có thì tạo mới khách hàng
    ---------------------------------------------------------
    IF @khach_hang_id IS NULL
    BEGIN
        INSERT INTO khach_hang
        (
            ho_ten,
            so_dien_thoai,
            so_cccd,
            dia_chi
        )
        VALUES
        (
            @ho_ten,
            @so_dien_thoai,
            @so_cccd,
            @dia_chi
        );

        SET @khach_hang_id = SCOPE_IDENTITY();
    END;

    ---------------------------------------------------------
    -- 3. Tạo hợp đồng
    ---------------------------------------------------------
    INSERT INTO hop_dong
    (
        khach_hang_id,
        ngay_lap,
        so_tien_goc,
        deadline1,
        deadline2,
        trang_thai,
        ghi_chu,
        ngay_cap_nhat
    )
    VALUES
    (
        @khach_hang_id,
        CAST(GETDATE() AS DATE),
        @so_tien_goc,
        @deadline1,
        @deadline2,
        N'DangVay',
        @ghi_chu,
        GETDATE()
    );

    SET @hop_dong_id = SCOPE_IDENTITY();

    ---------------------------------------------------------
    -- 4. Thêm tài sản
    ---------------------------------------------------------
    INSERT INTO tai_san
    (
        ten_tai_san,
        loai_tai_san,
        gia_tri_dinh_gia,
        mo_ta,
        trang_thai,
        ngay_nhap
    )
    OUTPUT
        inserted.id,
        inserted.gia_tri_dinh_gia
    INTO @temp_tai_san
    (
        tai_san_id,
        gia_tri_cam_co
    )
    SELECT
        ten_tai_san,
        loai_tai_san,
        gia_tri_dinh_gia,
        mo_ta,
        N'DangCamCo',
        GETDATE()
    FROM @ds_tai_san;

    ---------------------------------------------------------
    -- 5. Liên kết tài sản với hợp đồng
    ---------------------------------------------------------
    INSERT INTO chi_tiet_hop_dong
    (
        hop_dong_id,
        tai_san_id,
        gia_tri_cam_co,
        da_tra_tai_san,
        ngay_tra_tai_san
    )
    SELECT
        @hop_dong_id,
        tai_san_id,
        gia_tri_cam_co,
        0,
        NULL
    FROM @temp_tai_san;

    ---------------------------------------------------------
    -- 6. Trả kết quả
    ---------------------------------------------------------
    SELECT
        @khach_hang_id AS khach_hang_id,
        @hop_dong_id AS hop_dong_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_gia_han_hop_dong]    Script Date: 12/05/2026 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedure gia hạn hợp đồng
CREATE   PROCEDURE [dbo].[sp_gia_han_hop_dong]
    @hop_dong_id INT,
    @so_ngay_gia_han_deadline1 INT,
    @so_ngay_gia_han_deadline2 INT,
    @so_tien_khach_tra DECIMAL(18,2),
    @nhan_vien_id INT,
    @ghi_chu NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @so_tien_goc DECIMAL(18,2);
    DECLARE @tong_no_hien_tai DECIMAL(18,2);
    DECLARE @tien_lai_phai_tra DECIMAL(18,2);
    DECLARE @deadline1_moi DATE;
    DECLARE @deadline2_moi DATE;
    DECLARE @trang_thai NVARCHAR(50);

    SELECT
        @so_tien_goc = so_tien_goc,
        @trang_thai = trang_thai
    FROM hop_dong
    WHERE id = @hop_dong_id;

    IF @so_tien_goc IS NULL
    BEGIN
        RAISERROR(N'Hop dong khong ton tai.', 16, 1);
        RETURN;
    END

    IF @trang_thai = N'DaThanhLy'
    BEGIN
        RAISERROR(N'Hop dong da thanh ly, khong the gia han.', 16, 1);
        RETURN;
    END

    -- Tính tổng nợ hiện tại
    SET @tong_no_hien_tai = dbo.fn_CalcMoneyContract(@hop_dong_id, CAST(GETDATE() AS DATE));

    -- Tạm xác định phần lãi cần trả = tổng nợ hiện tại - gốc
    SET @tien_lai_phai_tra = @tong_no_hien_tai - @so_tien_goc;

    IF @tien_lai_phai_tra < 0
        SET @tien_lai_phai_tra = 0;

    -- Nếu khách chưa trả đủ lãi thì không cho gia hạn
    IF @so_tien_khach_tra < @tien_lai_phai_tra
    BEGIN
        RAISERROR(N'Khach chua thanh toan du tien lai de gia han hop dong.', 16, 1);
        RETURN;
    END

    -- Ghi lịch sử thanh toán
    INSERT INTO lich_su_thanh_toan (
        hop_dong_id,
        ngay_thanh_toan,
        so_tien_tra,
        nhan_vien_id,
        ghi_chu
    )
    VALUES (
        @hop_dong_id,
        GETDATE(),
        @so_tien_khach_tra,
        @nhan_vien_id,
        ISNULL(@ghi_chu, N'Gia han hop dong')
    );

    -- Tính mốc deadline mới
    SET @deadline1_moi = DATEADD(DAY, @so_ngay_gia_han_deadline1, CAST(GETDATE() AS DATE));
    SET @deadline2_moi = DATEADD(DAY, @so_ngay_gia_han_deadline2, CAST(GETDATE() AS DATE));

    -- Cập nhật hợp đồng
    UPDATE hop_dong
    SET
        deadline1 = @deadline1_moi,
        deadline2 = @deadline2_moi,
        trang_thai = N'DangVay',
        ngay_cap_nhat = GETDATE(),
        ghi_chu = CONCAT(ISNULL(ghi_chu, N''), N' | Gia han hop dong')
    WHERE id = @hop_dong_id;

    SELECT
        N'Gia han hop dong thanh cong.' AS thong_bao,
        @tien_lai_phai_tra AS tien_lai_bat_buoc,
        @deadline1_moi AS deadline1_moi,
        @deadline2_moi AS deadline2_moi;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_xu_ly_tra_no]    Script Date: 12/05/2026 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedure xử lý trả nợ từng phần và gợi ý hoàn trả tài sản

CREATE   PROCEDURE [dbo].[sp_xu_ly_tra_no]
    @hop_dong_id INT,
    @so_tien_tra DECIMAL(18,2),
    @nhan_vien_id INT,
    @ghi_chu NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @trang_thai_hop_dong NVARCHAR(50);
    DECLARE @tong_no_truoc_khi_tra DECIMAL(18,2);
    DECLARE @du_no_con_lai DECIMAL(18,2);

    -- Kiểm tra hợp đồng
    SELECT @trang_thai_hop_dong = trang_thai
    FROM hop_dong
    WHERE id = @hop_dong_id;

    IF @trang_thai_hop_dong IS NULL
    BEGIN
        RAISERROR(N'Hop dong khong ton tai.', 16, 1);
        RETURN;
    END

    -- Nếu đã thanh lý thì không nhận tiền
    IF @trang_thai_hop_dong = N'DaThanhLy'
    BEGIN
        RAISERROR(N'Hop dong da thanh ly, khong thu tien va khong tra tai san.', 16, 1);
        RETURN;
    END

    -- Tính tổng nợ trước khi trả
    SET @tong_no_truoc_khi_tra = dbo.fn_CalcMoneyContract(@hop_dong_id, CAST(GETDATE() AS DATE));

    -- Ghi lịch sử thanh toán
    INSERT INTO lich_su_thanh_toan (
        hop_dong_id,
        ngay_thanh_toan,
        so_tien_tra,
        nhan_vien_id,
        ghi_chu
    )
    VALUES (
        @hop_dong_id,
        GETDATE(),
        @so_tien_tra,
        @nhan_vien_id,
        @ghi_chu
    );

    -- Tính lại dư nợ sau khi trả
    SET @du_no_con_lai = dbo.fn_CalcMoneyContract(@hop_dong_id, CAST(GETDATE() AS DATE));

    -- Nếu đã trả hết nợ
    IF @du_no_con_lai <= 0
    BEGIN
        UPDATE hop_dong
        SET
            trang_thai = N'DaThanhToan',
            ngay_cap_nhat = GETDATE()
        WHERE id = @hop_dong_id;

        -- Đánh dấu đã trả toàn bộ tài sản cho khách
        UPDATE chi_tiet_hop_dong
        SET
            da_tra_tai_san = 1,
            ngay_tra_tai_san = CAST(GETDATE() AS DATE)
        WHERE hop_dong_id = @hop_dong_id
          AND da_tra_tai_san = 0;

        -- Cập nhật trạng thái tài sản
        UPDATE ts
        SET ts.trang_thai = N'DaTraKhach'
        FROM tai_san ts
        INNER JOIN chi_tiet_hop_dong ct ON ts.id = ct.tai_san_id
        WHERE ct.hop_dong_id = @hop_dong_id;

        SELECT
            N'Khach da thanh toan het no. Da tra toan bo tai san.' AS thong_bao,
            @tong_no_truoc_khi_tra AS tong_no_truoc_khi_tra,
            0 AS du_no_con_lai;

        RETURN;
    END

    -- Nếu chưa trả hết thì chuyển sang trạng thái đang trả góp
    UPDATE hop_dong
    SET
        trang_thai = N'DangTraGop',
        ngay_cap_nhat = GETDATE()
    WHERE id = @hop_dong_id;

    -- Trả thông tin tổng quan sau khi thanh toán
    SELECT
        N'Khach da tra mot phan. Hop dong chuyen sang DangTraGop.' AS thong_bao,
        @tong_no_truoc_khi_tra AS tong_no_truoc_khi_tra,
        @du_no_con_lai AS du_no_con_lai;

    -- Gợi ý danh sách tài sản có thể trả
    -- Điều kiện: sau khi trả một tài sản, tổng giá trị tài sản còn lại vẫn >= dư nợ còn lại
    ;WITH ds_tai_san_chua_tra AS
    (
        SELECT
            ct.id AS chi_tiet_id,
            ct.tai_san_id,
            ts.ten_tai_san,
            ct.gia_tri_cam_co
        FROM chi_tiet_hop_dong ct
        INNER JOIN tai_san ts ON ct.tai_san_id = ts.id
        WHERE ct.hop_dong_id = @hop_dong_id
          AND ct.da_tra_tai_san = 0
    ),
    tong_gia_tri_con_giu AS
    (
        SELECT SUM(gia_tri_cam_co) AS tong_gia_tri
        FROM ds_tai_san_chua_tra
    )
    SELECT
        d.chi_tiet_id,
        d.tai_san_id,
        d.ten_tai_san,
        d.gia_tri_cam_co,
        (t.tong_gia_tri - d.gia_tri_cam_co) AS gia_tri_con_lai_sau_khi_tra,
        @du_no_con_lai AS du_no_con_lai
    FROM ds_tai_san_chua_tra d
    CROSS JOIN tong_gia_tri_con_giu t
    WHERE (t.tong_gia_tri - d.gia_tri_cam_co) >= @du_no_con_lai;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_xu_ly_tra_no_va_tra_tai_san]    Script Date: 12/05/2026 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_xu_ly_tra_no_va_tra_tai_san]
    @hop_dong_id INT,
    @so_tien_khach_tra DECIMAL(18,2),
    @nhan_vien_id INT,
    @ghi_chu NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @tong_no_hien_tai DECIMAL(18,2);
    DECLARE @du_no_con_lai DECIMAL(18,2);
    DECLARE @co_tai_san_da_ban BIT = 0;

    -- Kiểm tra hợp đồng có tồn tại không
    IF NOT EXISTS (
        SELECT 1
        FROM hop_dong
        WHERE id = @hop_dong_id
    )
    BEGIN
        RAISERROR(N'Hop dong khong ton tai.', 16, 1);
        RETURN;
    END

    -- Kiểm tra xem trong hợp đồng có tài sản nào đã bị bán thanh lý hay chưa
    IF EXISTS (
        SELECT 1
        FROM chi_tiet_hop_dong ct
        INNER JOIN tai_san ts ON ct.tai_san_id = ts.id
        INNER JOIN hop_dong hd ON ct.hop_dong_id = hd.id
        WHERE ct.hop_dong_id = @hop_dong_id
          AND CAST(GETDATE() AS DATE) > hd.deadline2
          AND ts.is_sold = 1
    )
    BEGIN
        RAISERROR(N'Tai san da bi thanh ly. Khong thu tien, khong tra do.', 16, 1);
        RETURN;
    END

    -- Tính tổng nợ hiện tại của hợp đồng
    SET @tong_no_hien_tai = dbo.fn_CalcMoneyContract(@hop_dong_id, CAST(GETDATE() AS DATE));

    -- Nếu hiện tại nợ đã bằng 0 thì không cần thu thêm
    IF @tong_no_hien_tai <= 0
    BEGIN
        SELECT
            N'Hop dong nay hien khong con du no.' AS thong_bao,
            0 AS tong_no_hien_tai,
            0 AS du_no_con_lai;
        RETURN;
    END

    -- Ghi nhận thanh toán vào log
    INSERT INTO lich_su_thanh_toan (
        hop_dong_id,
        ngay_thanh_toan,
        so_tien_tra,
        nhan_vien_id,
        ghi_chu
    )
    VALUES (
        @hop_dong_id,
        GETDATE(),
        @so_tien_khach_tra,
        @nhan_vien_id,
        @ghi_chu
    );

    -- Tính lại dư nợ sau khi khách vừa trả
    SET @du_no_con_lai = dbo.fn_CalcMoneyContract(@hop_dong_id, CAST(GETDATE() AS DATE));

    -- Nếu đã trả hết nợ
    IF @du_no_con_lai <= 0
    BEGIN
        -- Cập nhật trạng thái hợp đồng
        UPDATE hop_dong
        SET
            trang_thai = N'DaThanhToanDu',
            ngay_cap_nhat = GETDATE()
        WHERE id = @hop_dong_id;

        -- Trả toàn bộ tài sản cho khách
        UPDATE chi_tiet_hop_dong
        SET
            da_tra_tai_san = 1,
            ngay_tra_tai_san = CAST(GETDATE() AS DATE)
        WHERE hop_dong_id = @hop_dong_id
          AND da_tra_tai_san = 0;

        -- Cập nhật trạng thái tài sản
        UPDATE ts
        SET ts.trang_thai = N'DaTraKhach'
        FROM tai_san ts
        INNER JOIN chi_tiet_hop_dong ct ON ts.id = ct.tai_san_id
        WHERE ct.hop_dong_id = @hop_dong_id;

        SELECT
            N'Khach da thanh toan het tien. Da tra toan bo tai san.' AS thong_bao,
            @tong_no_hien_tai AS tong_no_truoc_khi_tra,
            0 AS du_no_con_lai;

        RETURN;
    END

    -- Nếu chưa trả hết thì cập nhật trạng thái đang trả góp
    UPDATE hop_dong
    SET
        trang_thai = N'DangTraGop',
        ngay_cap_nhat = GETDATE()
    WHERE id = @hop_dong_id;

    -- Trả thông tin tổng quan sau thanh toán
    SELECT
        N'Khach da tra mot phan. Hop dong chuyen sang DangTraGop.' AS thong_bao,
        @tong_no_hien_tai AS tong_no_truoc_khi_tra,
        @du_no_con_lai AS du_no_con_lai;

    -- Gợi ý tài sản có thể trả cho khách
    -- Điều kiện: nếu trả tài sản này, tổng giá trị còn lại vẫn phải >= dư nợ còn lại
    ;WITH ds_tai_san_con_giu AS
    (
        SELECT
            ct.id AS chi_tiet_id,
            ct.tai_san_id,
            ts.ten_tai_san,
            ct.gia_tri_cam_co
        FROM chi_tiet_hop_dong ct
        INNER JOIN tai_san ts ON ct.tai_san_id = ts.id
        WHERE ct.hop_dong_id = @hop_dong_id
          AND ct.da_tra_tai_san = 0
          AND ts.is_sold = 0
    ),
    tong_gia_tri_con_giu AS
    (
        SELECT SUM(gia_tri_cam_co) AS tong_gia_tri
        FROM ds_tai_san_con_giu
    )
    SELECT
        ds.chi_tiet_id,
        ds.tai_san_id,
        ds.ten_tai_san,
        ds.gia_tri_cam_co,
        (tg.tong_gia_tri - ds.gia_tri_cam_co) AS gia_tri_tai_san_con_lai,
        @du_no_con_lai AS du_no_con_lai
    FROM ds_tai_san_con_giu ds
    CROSS JOIN tong_gia_tri_con_giu tg
    WHERE (tg.tong_gia_tri - ds.gia_tri_cam_co) >= @du_no_con_lai;
END;

GO
/****** Object:  Trigger [dbo].[trg_hop_dong_qua_han]    Script Date: 12/05/2026 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Trigger chuyển hợp đồng sang quá hạn khi vượt deadline1

CREATE   TRIGGER [dbo].[trg_hop_dong_qua_han]
ON [dbo].[hop_dong]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE hd
    SET
        hd.trang_thai = N'QuaHan',
        hd.ngay_cap_nhat = GETDATE()
    FROM hop_dong hd
    INNER JOIN inserted i ON hd.id = i.id
    WHERE CAST(GETDATE() AS DATE) > hd.deadline1
      AND hd.trang_thai = N'DangVay';
END;

GO
ALTER TABLE [dbo].[hop_dong] ENABLE TRIGGER [trg_hop_dong_qua_han]
GO
/****** Object:  Trigger [dbo].[trg_tai_san_da_ban_thanh_ly]    Script Date: 12/05/2026 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Trigger chuyển tài sản sang đã bán thanh lý khi hợp đồng thành DaThanhLy
CREATE   TRIGGER [dbo].[trg_tai_san_da_ban_thanh_ly]
ON [dbo].[hop_dong]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE ts
    SET
        ts.trang_thai = N'DaBanThanhLy',
        ts.is_sold = 1
    FROM tai_san ts
    INNER JOIN chi_tiet_hop_dong ct ON ts.id = ct.tai_san_id
    INNER JOIN inserted i ON ct.hop_dong_id = i.id
    INNER JOIN deleted d ON i.id = d.id
    WHERE i.trang_thai = N'DaThanhLy'
      AND d.trang_thai <> N'DaThanhLy';
END;

GO
ALTER TABLE [dbo].[hop_dong] ENABLE TRIGGER [trg_tai_san_da_ban_thanh_ly]
GO
/****** Object:  Trigger [dbo].[trg_tai_san_san_sang_thanh_ly]    Script Date: 12/05/2026 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Trigger chuyển tài sản sang trạng thái sẵn sàng thanh lý

CREATE   TRIGGER [dbo].[trg_tai_san_san_sang_thanh_ly]
ON [dbo].[hop_dong]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE ts
    SET ts.trang_thai = N'SanSangThanhLy'
    FROM tai_san ts
    INNER JOIN chi_tiet_hop_dong ct ON ts.id = ct.tai_san_id
    INNER JOIN hop_dong hd ON ct.hop_dong_id = hd.id
    INNER JOIN inserted i ON hd.id = i.id
    WHERE hd.trang_thai = N'QuaHan'
      AND CAST(GETDATE() AS DATE) > hd.deadline2
      AND ts.trang_thai = N'DangCamCo';
END;

GO
ALTER TABLE [dbo].[hop_dong] ENABLE TRIGGER [trg_tai_san_san_sang_thanh_ly]
GO
USE [master]
GO
